# Database connections

Programming in Python

School of Computer Science, University of St Andrews

## Databases
- Way of storing data
- Constraints and validation
- Handles concurrency
- Accessible by multiple processes
- Remote access

## Connecting from Python

First, install the mariadb package, then import it in your program:

In [1]:
import mariadb

In [2]:
try:
    conn = mariadb.connect(
        user="archie",
        password="XXXXX",
        host="localhost",
        port=3306,
        database="flowers"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")

# Get Cursor
cur = conn.cursor()

In [3]:
cur

In [4]:
cur.execute("SELECT genus_name, specific_name, is_tree FROM species")

In [5]:
for genus, species, is_tree in cur:
    print(genus, species, "is a species of plant.")
    if is_tree:
        print("It is a tree.")
    else:
        print("It is not a tree.")

Calystegia silvatica is a species of plant.
It is not a tree.
Erigeron karvinskianus is a species of plant.
It is not a tree.
Lonicera periclymenum is a species of plant.
It is not a tree.
Prunus serrulata is a species of plant.
It is a tree.

In [6]:
cherry_genus = "Prunus"
cherry_species = "serrulata"
cur.execute(
    "SELECT date, latitude, longitude FROM sighting WHERE genus_name = ? AND specific_name = ?",
    (cherry_genus, cherry_species)
)

In [7]:
print("Sightings of cherry blossom (Prunus serrulata):")
for date, lat, long in cur:
    print(f"Saw on {date} at ({lat}, {long})")

Sightings of cherry blossom (Prunus serrulata):
Saw on 2023-06-28 at (56.3377, -2.80594)
Saw on 2023-07-01 at (56.3377, -2.80594)
Saw on 2023-07-12 at (56.3377, -2.80594)

In [8]:
from datetime import date
def insert_sighting(cur, genus, species, lat, long):
    today = date.today().isoformat()
    cur.execute(
        "INSERT INTO sighting VALUES (?, ?, ?, ?, ?)",
        (today, lat, long, genus, species)
    )

In [9]:
insert_sighting(cur, "Lonicera", "periclymenum", 55.8, -2.994)
conn.commit()

In [10]:
cur.execute(
    "SELECT date FROM sighting WHERE genus_name = ? AND specific_name = ?",
    ("Lonicera", "periclymenum")
)
for date in cur:
    print(date)

(datetime.date(2023, 7, 12),)
(datetime.date(2023, 7, 24),)
(datetime.date(2023, 7, 26),)

## Other databases
- Packages exist for other database management systems: MySQL, MongoDB, etc.
- Exact usage varies
- Look up the documentation, and try things!

## Summary
- Connect to a database using the appropriate package
- Prepare statements with parameters
- Execute statements
- Iterate through results
- Be sure to commit!